.finance {
    position: sticky;
    top: -180% !important;
    z-index: 3;
    min-height: 1920px;
    background-color: #5052EA;
    padding: 120px 0;
}

.finance-big-text {
    font-size: 250px;
    white-space: nowrap;
    margin: 0 0 112px;
    text-transform: uppercase;
}

.finance-wrapper {
    max-width: 1600px;
    margin: 112px auto;
    display: flex;
    gap: 16px;
    padding: 0 20px;
}

.finance-inner {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.finance-img {
    opacity: 0;
    transform: translateX(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
    max-height: 792px;
    max-width: 792px;
}

.finance-img.left {
    transform: translateX(-50vh);
}

.finance-img.right {
    transform: translateX(50vh);
}

.finance-img.visible {
    opacity: 1;
    transform: translateX(0);
}


.finance-text {
    font-size: 32px;
}


.finance-line {
    max-width: 1600px;
    margin: 0 auto 112px;
    transition: transform 0.3s ease-out;
    will-change: transform;
}


.finance-comments {
    display: flex;
    gap: 16px;
    margin: 0 0 112px;
}

.finance-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 489px;
    min-width: 489px;
    max-height: 313px;
    min-height: 313px;
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
    position: relative;
}

.finance-comment-name {
    color: #5052EA;
    text-transform: uppercase;
    font-size: 36px;

}

.finance-comment-text {
    font-size: 20px;
    text-transform: uppercase;
    color: #000000
}

.finance-comment-icon {
    position: absolute;
    right: 24px;
    top: 24px;
    height: 50px;
    width: 65px;
    color: #5052EA;
}

.finance-text-last {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 1622px) {
    .finance-img {
        max-height: 700px;
        max-width: 700px;
    }
}

@media (max-width: 1440px) {

    .finance-wrapper {
        max-width: 1281px;
        gap: 16px;
    }

    .finance-big-text {
        font-size: 200px;
        white-space: nowrap;
        margin: 112px 0;
        text-transform: uppercase;
    }

    .finance-img {
        opacity: 0;
        transform: translateX(0);
        transition: opacity 0.8s ease, transform 0.8s ease;
        max-height: 634px;
        max-width: 634px;
    }

    .finance-line {
        max-width: 1281px;
        margin: 0 auto 112px;
        transition: transform 0.3s ease-out;
        will-change: transform;
    }

    .finance-comment {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 417px;
        min-width: 417px;
        max-height: 222px;
        min-height: 222px;
        background-color: #fff;
        border-radius: 16px;
        padding: 16px;
        position: relative;
    }

    .finance-comment-name {
        color: #5052EA;
        text-transform: uppercase;
        font-size: 24px;
    }

    .finance-comment-text {
        font-size: 16px;
        text-transform: uppercase;
        color: #000000
    }

    .finance-text-last {
        max-width: 1281px;
        margin: 0 auto;
        font-size: 24px;
    }

    .finance-text span {
        font-size: 24px;
    }

    .finance-comment-icon {
        right: 16px;
        top: 16px;
        height: 41px;
        width: 56px;
    }

}


@media (max-width: 1350px) {
    .finance-img {
        max-height: 600px;
        max-width: 600px;
    }
}


@media (max-width: 1194px) {

    .finance-wrapper {
        max-width: 1034px;
        gap: 16px;
    }

    .finance-big-text {
        font-size: 150px;
        white-space: nowrap;
        margin: 64px 0;
        text-transform: uppercase;
    }

    .finance-img {
        height: 509px;
        width: 509px;
    }

    .finance-line {
        max-width: 1034px;
        margin: 0 auto 112px;
        transition: transform 0.3s ease-out;
        will-change: transform;
    }

    .finance-comment {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 378px;
        min-width: 378px;
        max-height: 222px;
        min-height: 222px;
        background-color: #fff;
        border-radius: 16px;
        position: relative;
    }

    .finance-comment-name {
        color: #5052EA;
        text-transform: uppercase;
        font-size: 24px;
    }

    .finance-comment-text {
        font-size: 16px;
        text-transform: uppercase;
        color: #000000
    }

    .finance-text-last {
        max-width: 1034px;
        margin: 0 auto;
        font-size: 20px;
    }
    .finance-text span {
        font-size: 20px;
    }

    .finance-comment-icon {
        right: 16px;
        top: 16px;
        height: 41px;
        width: 56px;
    }    

}

@media (max-width: 834px) {

    .finance-wrapper {
        max-width: 721px;
        gap: 16px;
    }

    .finance-big-text {
        font-size: 120px;
        white-space: nowrap;
        margin: 64px 0;
        text-transform: uppercase;
    }

    .finance-img {
        opacity: 0;
        transform: translateX(0);
        transition: opacity 0.8s ease, transform 0.8s ease;
        height: 352px;
        width: 352px;
    }

    .finance-comment {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 229px;
        min-width: 229px;
        max-height: 169px;
        min-height: 169px;
        background-color: #fff;
        border-radius: 16px;
        padding: 16px;
        position: relative;
    }

    .finance-comment-name {
        color: #5052EA;
        text-transform: uppercase;
        font-size: 20px;
    }

    .finance-comment-text {
        font-size: 12px;
        text-transform: uppercase;
        color: #000000
    }

    .finance-text-last {
        max-width: 721px;
        margin: 0 auto;
        font-size: 16px;
    }
    .finance-text span {
        font-size: 16px;
    }

    .finance-comment-icon {
        right: 16px;
        top: 16px;
        height: 32px;
        width: 40px;
    }

}

@media (max-width: 375px) {

    .finance-wrapper {
        max-width: 375px;
        gap: 16px;
    }

    .finance-big-text {
        font-size: 64px;
        white-space: nowrap;
        padding: 56px 0;
        text-transform: uppercase;
    }

    .finance-img {
        opacity: 0;
        transform: translateX(0);
        transition: opacity 0.8s ease, transform 0.8s ease;
        height: 237px;
        width: 171px;
    }


    .finance-line {
        max-width: 360px;
        margin: 0 auto 112px;
        transition: transform 0.3s ease-out;
        will-change: transform;
    }

    .finance-comment {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 171px;
        min-width: 171px;
        max-height: 106px;
        min-height: 106px;
        background-color: #fff;
        border-radius: 16px;
        padding: 8px;
        position: relative;
    }

    .finance-comment-name {
        color: #5052EA;
        text-transform: uppercase;
        font-size: 16px;
    }

    .finance-comment-text {
        font-size: 8px;
        text-transform: uppercase;
        color: #000000
    }

    .finance-text-last {
        max-width: 375px;
        margin: 0 auto;
        font-size: 12px;
    }

    .finance-img {
        height: 237px;
        width: 141px;
    }

    .finance-text-block{
        display: block;
        max-width: 140px;
    }
    .finance-text span {
        font-size: 12px;
    }

    .finance-comment-icon {
        right: 8px;
        top: 8px;
        height: 16px;
        width: 20px;
    }

}